/* Body */

body {
    background-color:rgb(167, 165, 165);
}



/*Header */

.options {
    text-align: center;
    border: solid 5px black;
    width: 500px;
    position: static;
    margin: 30px auto 10px;
    background-color: rgb(84, 143, 211);

}

.options h1 {
    font-family: "cambria";
    
}

.options h2 {
    font-size: 25px;
}


/*navbar*/

ul#list-nav {
    list-style:none;
    margin: 0px 20px 80px 780px;
    padding-left: 5px;
    width: 1000px;
}

ul#list-nav li {
    display: inline;
}

.list-nav li a {
    font-family: georgia;
    text-decoration: none;
    font-size: 13px;
    width: 130px;
    background-color:#234925;
    color:#eee;
    float: left;
    text-align: center;
    border-left: 3px solid #fff;
    letter-spacing: 1.5px;
    padding: 12px 20px;
    font-weight:bold;
    border: solid 2px white;
    height:20px;
    
}

/* log out link */

 .a[href*="login.html"]{
    
    height: 30px;
    font-size: 17px;
    float: right;
    
    
        

}

/* hover */

ul#list-nav li a:hover {
    background: #a3e2a3;
    color: #000;
}



