/*Header */

.title h1 {
    text-align: center;
    
}

/*navbar*/

#navbar {
    text-align: center;
    border: solid 10px;
    padding: 10px;

}

/* employee home page */

a[href*='employee.html']{
    padding: 10px;
    
}

/* new reimbursement page */

a[href*='new-reimbursement.html'] {
    padding: 10px;
}

/* view reimbursement */

a[href*='view-reimbursements.html']{
    padding: 10px;
}