
/* header */

.header{
    font-family: Georgia, serif;
    background-color: lightseagreen;
    width: 100%;
    text-align:center;
    padding: 10px;
    position: relative;

}

/* link for Home page in navbar */

a[href*='login.html'] {
    color: rgba(255, 255, 255, 0.836);
    font-weight: bold;
    position: relative;
    
}

/* banner behind navbar */

.banner{
    font-family:Georgia, serif;
    font-size: 20px;
    background-color: mediumblue;
    padding: 10px;
    margin: 20px auto;
    color:darkslategrey;

}

/*header for sign in*/

.signin h2{
    font-family: Georgia, serif;
    text-align: center;
    font-size: 20px;
    background-color: orange;
    width:auto;
    height: 30px;
    padding: 10px;

}

/*login box*/


.login-info{
    text-align:center;
    font-size:20px;
    font-weight:bold;
}