/* Body */

body {
    background-color:rgb(167, 165, 165);
}



/*Header */

header h1 {
    text-align: center;
    border: solid 1px black;
    width: 500px;
    position: static;
    margin: 100px auto;
    background-color: rgb(84, 143, 211);

}

/* message */

.message h3 {
    border: solid 1px black;
    width: 270px;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-left: 800px;
    font-weight: bold;

}

/* redirect link */

