/* Body */

body {
    background-color:rgb(167, 165, 165);
}

/* Header */

header {
    border: solid 3px black;
    text-align: center;
    padding: 10px;
    background-color: rgb(84, 143, 211);
    font-family: georgia;
    


}